.Header{
    height: 80px;
    width: 80%;
    margin-left: 10%;
    background-color: aqua;
    border-radius: 0 0 9px 9px;
    display: flex;
    justify-content: space-around;
}

.but{
    width: 80px;
    height: 40px;
    margin-top: 20px;
}